body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  border: solid black;
  height: 150vh;
}

.navbar {
  /* border: ridge; */
  height: 15vh;
  display: flex;
  justify-content: space-between;
}

.centerNav {
  /* border: ridge; */
  height: 100%;
  width: 20vh;
}

.formBox {
  /* border: solid rebeccapurple; */
  display: flex;
  height: 5vh;
  justify-content: center;
}

input {
  height: 4.5vh;
  width: 20vh;
}

.movieDetails {
  border: solid green;
  display: flex;
  /* background-image: url("https://www.freepnglogos.com/uploads/film-reel-png/film-reel-lunastudioarte-tirinhas-filme-para-montagens-2.png");
  background-size: cover; */
}

.logo {
  height: 100%;
  width: 100%;
}

.left {
  border: solid magenta;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  border: solid aqua;
}

.favorite {
  border: solid blue;
  height: 50vh;
  width: 50vh;
}